.skin-preview-sun-core {
  inset: -30%;
  height: 200%;
  width: 200%;
}

.skin-preview-sun-surface {
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  height: 200%;
  width: 200%;
  inset: -35%;
  border-radius: 50%;
  background: url("./sun_cdn.jpg") center center / cover no-repeat;
  background-position: center center;
  box-shadow: 1px 1px 30px 5px #fc9328;
  animation: pole-rotate 30s linear infinite;
}

@keyframes sun-preview-pole-rotate {
  0% {
    background-position: center center;
  }
  50% {
    transform: rotate(180deg);
    background-position: 50% 40%;
  }
  100% {
    background-position: center center;
  }
}
