.skin-preview-sun-core {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  background-color: black;
  height: 100%;
}

.skin-preview-sun-surface {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  border-radius: 50%;
  background: url("./sun_cdn.jpg") no-repeat;
  background-position: center center;

  box-shadow:
    0 0 18px 3px rgba(252, 147, 40, 0.65),
    0 0 28px 6px rgba(252, 147, 40, 0.28);
  animation: sun-preview-pole-rotate 70s linear infinite;
  will-change: transform, background-position;
}

@keyframes sun-preview-pole-rotate {
  0% {
    background-position: center center;
  }
  50% {
    background-position: 50% 40%;
  }
  100% {
    transform: rotate(360deg);
    background-position: center center;
  }
}
